.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background: hsl(0, 0%, 100%);
    height: 499px;
    width: 320px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.QR-image {
    background-image: url(images/image-qr-code.png);
    background-size: cover;
    border-radius: 10px;
    width: 288px;
    height: 288px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.QR-text {
    width: 288px;
    height: 131px;
    position: absolute;
    bottom: 40px;
    left: 16px;
}

h1, h2 {
    text-align: center;
}

p {
    font-family: Outfit;
    text-align: center;
    margin: auto;
}

.title {
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    width: 256px;
    height: 52px;
    margin-bottom: 16px;
}

.subtitle {
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    width: 256px;
    height: 63px;

}

body {
    background: hsl(212, 45%, 89%);
}